<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: left;">
      <th style="min-width: 200;">1990</th>
      <th style="min-width: 200;">1991</th>
      <th style="min-width: 200;">1992</th>
      <th style="min-width: 200;">1993</th>
      <th style="min-width: 200;">1994</th>
      <th style="min-width: 200;">1995</th>
      <th style="min-width: 200;">1996</th>
      <th style="min-width: 200;">1997</th>
      <th style="min-width: 200;">1998</th>
      <th style="min-width: 200;">1999</th>
      <th style="min-width: 200;">2000</th>
      <th style="min-width: 200;">2001</th>
      <th style="min-width: 200;">2002</th>
      <th style="min-width: 200;">2003</th>
      <th style="min-width: 200;">2004</th>
      <th style="min-width: 200;">2005</th>
      <th style="min-width: 200;">2006</th>
      <th style="min-width: 200;">2007</th>
      <th style="min-width: 200;">2008</th>
      <th style="min-width: 200;">2009</th>
      <th style="min-width: 200;">2010</th>
      <th style="min-width: 200;">2011</th>
      <th style="min-width: 200;">2012</th>
      <th style="min-width: 200;">2013</th>
      <th style="min-width: 200;">2014</th>
      <th style="min-width: 200;">2015</th>
      <th style="min-width: 200;">2016</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Eastman Kodak</td>
      <td>IBM Corp</td>
      <td>IBM Corp</td>
      <td>IBM Corp</td>
      <td>IBM Corp</td>
      <td>IBM Corp</td>
      <td>IBM Corp</td>
      <td>IBM Corp</td>
      <td>IBM Corp</td>
      <td>IBM Corp</td>
      <td>IBM Corp</td>
      <td>IBM Corp</td>
      <td>IBM Corp</td>
      <td>IBM Corp</td>
      <td>IBM Corp</td>
      <td>IBM Corp</td>
      <td>IBM Corp</td>
      <td>IBM Corp</td>
      <td>IBM Corp</td>
      <td>IBM Corp</td>
      <td>IBM Corp</td>
      <td>IBM Corp</td>
      <td>IBM Corp</td>
      <td>IBM Corp</td>
      <td>IBM Corp</td>
      <td>IBM Corp</td>
      <td>IBM Corp</td>
    </tr>
    <tr>
      <td>IBM Corp</td>
      <td>Eastman Kodak</td>
      <td>Eastman Kodak</td>
      <td>Motorola, Inc.</td>
      <td>Motorola, Inc.</td>
      <td>Motorola, Inc.</td>
      <td>Motorola, Inc.</td>
      <td>Motorola, Inc.</td>
      <td>Lucent Technologies Inc.</td>
      <td>Micron Technology, Inc.</td>
      <td>Micron Technology, Inc.</td>
      <td>HP Development Company</td>
      <td>HP Development Company</td>
      <td>HP Development Company</td>
      <td>Microsoft Corporation</td>
      <td>Microsoft Corporation</td>
      <td>Microsoft Corporation</td>
      <td>Microsoft Corporation</td>
      <td>Microsoft Corporation</td>
      <td>Microsoft Corporation</td>
      <td>Microsoft Corporation</td>
      <td>Google Inc.</td>
      <td>Google Inc.</td>
      <td>Google Inc.</td>
      <td>Google Inc.</td>
      <td>QUALCOMM Incorporated</td>
      <td>Apple Inc.</td>
    </tr>
    <tr>
      <td>GE</td>
      <td>GE</td>
      <td>GE</td>
      <td>GE</td>
      <td>GE</td>
      <td>Lucent Technologies Inc.</td>
      <td>Eastman Kodak</td>
      <td>Lucent Technologies Inc.</td>
      <td>Micron Technology, Inc.</td>
      <td>Intel Corporation</td>
      <td>Intel Corporation</td>
      <td>Micron Technology, Inc.</td>
      <td>Intel Corporation</td>
      <td>Intel Corporation</td>
      <td>Intel Corporation</td>
      <td>Intel Corporation</td>
      <td>Intel Corporation</td>
      <td>Intel Corporation</td>
      <td>GE</td>
      <td>QUALCOMM Incorporated</td>
      <td>GE</td>
      <td>GE</td>
      <td>Intel Corporation</td>
      <td>QUALCOMM Incorporated</td>
      <td>QUALCOMM Incorporated</td>
      <td>Apple Inc.</td>
      <td>Intel Corporation</td>
    </tr>
    <tr>
      <td>United States Navy</td>
      <td>Motorola, Inc.</td>
      <td>Motorola, Inc.</td>
      <td>Eastman Kodak</td>
      <td>Eastman Kodak</td>
      <td>GE</td>
      <td>Lucent Technologies Inc.</td>
      <td>Micron Technology, Inc.</td>
      <td>Eastman Kodak</td>
      <td>Lucent Technologies Inc.</td>
      <td>GE</td>
      <td>Intel Corporation</td>
      <td>Micron Technology, Inc.</td>
      <td>Microsoft Corporation</td>
      <td>HP Development Company</td>
      <td>HP Development Company</td>
      <td>Micron Technology, Inc.</td>
      <td>HP Development Company</td>
      <td>GM Global Technology, Inc.</td>
      <td>GE</td>
      <td>QUALCOMM Incorporated</td>
      <td>Intel Corporation</td>
      <td>Apple Inc.</td>
      <td>Intel Corporation</td>
      <td>Apple Inc.</td>
      <td>Intel Corporation</td>
      <td>Ford Global Technologies, LLC</td>
    </tr>
    <tr>
      <td>Motorola, Inc.</td>
      <td>United States Navy</td>
      <td>United States Navy</td>
      <td>United States Navy</td>
      <td>Texas Instruments Incorporated</td>
      <td>Texas Instruments Incorporated</td>
      <td>Hewlett-Packard Company</td>
      <td>Eastman Kodak</td>
      <td>Intel Corporation</td>
      <td>GE</td>
      <td>Advanced Micro Devices, Inc.</td>
      <td>GE</td>
      <td>GE</td>
      <td>Micron Technology, Inc.</td>
      <td>Micron Technology, Inc.</td>
      <td>Micron Technology, Inc.</td>
      <td>GE</td>
      <td>GE</td>
      <td>QUALCOMM Incorporated</td>
      <td>GM Global Technology, Inc.</td>
      <td>Apple Inc.</td>
      <td>Microsoft Corporation</td>
      <td>GE</td>
      <td>Apple Inc.</td>
      <td>Intel Corporation</td>
      <td>Ford Global Technologies, LLC</td>
      <td>NIKE, Inc.</td>
    </tr>
    <tr>
      <td>E.I. du Pont de Nemours and Co</td>
      <td>Xerox Corporation</td>
      <td>Xerox Corporation</td>
      <td>Xerox Corporation</td>
      <td>Xerox Corporation</td>
      <td>Eastman Kodak</td>
      <td>Intel Corporation</td>
      <td>Advanced Micro Devices, Inc.</td>
      <td>Motorola, Inc.</td>
      <td>Advanced Micro Devices, Inc.</td>
      <td>Microsoft Corporation</td>
      <td>Advanced Micro Devices, Inc.</td>
      <td>Microsoft Corporation</td>
      <td>GE</td>
      <td>GE</td>
      <td>GE</td>
      <td>HP Development Company</td>
      <td>QUALCOMM Incorporated</td>
      <td>AT&amp;T INTELLECTUAL PROPERTY, L.P.</td>
      <td>HP Development Company</td>
      <td>GM Global Technology, Inc.</td>
      <td>Apple Inc.</td>
      <td>QUALCOMM Incorporated</td>
      <td>GE</td>
      <td>Ford Global Technologies, LLC</td>
      <td>Google Inc.</td>
      <td>QUALCOMM Incorporated</td>
    </tr>
    <tr>
      <td>AT&amp;T Bell Laboratories</td>
      <td>E.I. du Pont de Nemours and Co</td>
      <td>E.I. du Pont de Nemours and Co</td>
      <td>Minnesota Mining and Manufacturing Company</td>
      <td>United States Navy</td>
      <td>United States Navy</td>
      <td>U.S. Philips Corporation</td>
      <td>Intel Corporation</td>
      <td>Advanced Micro Devices, Inc.</td>
      <td>Hewlett-Packard Company</td>
      <td>Motorola, Inc.</td>
      <td>Microsoft Corporation</td>
      <td>Sun Microsystems, Inc.</td>
      <td>Texas Instruments Incorporated</td>
      <td>Broadcom Corporation</td>
      <td>Cisco Technology, Inc.</td>
      <td>Cisco Technology, Inc.</td>
      <td>GM Global Technology, Inc.</td>
      <td>Intel Corporation</td>
      <td>Intel Corporation</td>
      <td>Intel Corporation</td>
      <td>QUALCOMM Incorporated</td>
      <td>GM Global Technology, Inc.</td>
      <td>Amazon Technologies, Inc.</td>
      <td>MICROSOFT TECHNOLOGY LICENSING, LLC</td>
      <td>MICROSOFT TECHNOLOGY LICENSING, LLC</td>
      <td>Google Inc.</td>
    </tr>
    <tr>
      <td>U.S. Philips Corporation</td>
      <td>General Motors Corporation</td>
      <td>Minnesota Mining and Manufacturing Company</td>
      <td>Texas Instruments Incorporated</td>
      <td>Minnesota Mining and Manufacturing Company</td>
      <td>Xerox Corporation</td>
      <td>GE</td>
      <td>Hewlett-Packard Company</td>
      <td>Hewlett-Packard Company</td>
      <td>Xerox Corporation</td>
      <td>HP Development Company</td>
      <td>Texas Instruments Incorporated</td>
      <td>Texas Instruments Incorporated</td>
      <td>Cisco Technology, Inc.</td>
      <td>Texas Instruments Incorporated</td>
      <td>Xerox Corporation</td>
      <td>QUALCOMM Incorporated</td>
      <td>Broadcom Corporation</td>
      <td>HP Development Company</td>
      <td>AT&amp;T INTELLECTUAL PROPERTY, L.P.</td>
      <td>HP Development Company</td>
      <td>GM Global Technology, Inc.</td>
      <td>Amazon Technologies, Inc.</td>
      <td>MICROSOFT TECHNOLOGY LICENSING, LLC</td>
      <td>Amazon Technologies, Inc.</td>
      <td>Amazon Technologies, Inc.</td>
      <td>MICROSOFT TECHNOLOGY LICENSING, LLC</td>
    </tr>
    <tr>
      <td>Xerox Corporation</td>
      <td>AT&amp;T Bell Laboratories</td>
      <td>AT&amp;T Bell Laboratories</td>
      <td>AT&amp;T Corp.</td>
      <td>U.S. Philips Corporation</td>
      <td>Minnesota Mining and Manufacturing Company</td>
      <td>United States Navy</td>
      <td>U.S. Philips Corporation</td>
      <td>GE</td>
      <td>Texas Instruments Incorporated</td>
      <td>Eastman Kodak</td>
      <td>Sun Microsystems, Inc.</td>
      <td>Advanced Micro Devices, Inc.</td>
      <td>Broadcom Corporation</td>
      <td>Honeywell International, Inc.</td>
      <td>Honeywell International, Inc.</td>
      <td>Broadcom Corporation</td>
      <td>Apple Inc.</td>
      <td>Apple Inc.</td>
      <td>Apple Inc.</td>
      <td>Broadcom Corporation</td>
      <td>HP Development Company</td>
      <td>Microsoft Corporation</td>
      <td>Ford Global Technologies, LLC</td>
      <td>GE</td>
      <td>NIKE, Inc.</td>
      <td>GM Global Technology, Inc.</td>
    </tr>
    <tr>
      <td>Minnesota Mining and Manufacturing Company</td>
      <td>Minnesota Mining and Manufacturing Company</td>
      <td>General Motors Corporation</td>
      <td>U.S. Philips Corporation</td>
      <td>Hewlett-Packard Company</td>
      <td>U.S. Philips Corporation</td>
      <td>Xerox Corporation</td>
      <td>GE</td>
      <td>Xerox Corporation</td>
      <td>Microsoft Corporation</td>
      <td>Lucent Technologies Inc.</td>
      <td>Eastman Kodak</td>
      <td>Eastman Kodak</td>
      <td>Eastman Kodak</td>
      <td>Cisco Technology, Inc.</td>
      <td>Broadcom Corporation</td>
      <td>Honeywell International, Inc.</td>
      <td>AT&amp;T INTELLECTUAL PROPERTY, L.P.</td>
      <td>Honeywell International, Inc.</td>
      <td>Xerox Corporation</td>
      <td>Micron Technology, Inc.</td>
      <td>MICROSOFT TECHNOLOGY LICENSING, LLC</td>
      <td>MICROSOFT TECHNOLOGY LICENSING, LLC</td>
      <td>GM Global Technology, Inc.</td>
      <td>The Boeing Company</td>
      <td>GE</td>
      <td>Texas Instruments Incorporated</td>
    </tr>
  </tbody>
</table>
