<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: left;">
      <th style="min-width: 200;">1990</th>
      <th style="min-width: 200;">1991</th>
      <th style="min-width: 200;">1992</th>
      <th style="min-width: 200;">1993</th>
      <th style="min-width: 200;">1994</th>
      <th style="min-width: 200;">1995</th>
      <th style="min-width: 200;">1996</th>
      <th style="min-width: 200;">1997</th>
      <th style="min-width: 200;">1998</th>
      <th style="min-width: 200;">1999</th>
      <th style="min-width: 200;">2000</th>
      <th style="min-width: 200;">2001</th>
      <th style="min-width: 200;">2002</th>
      <th style="min-width: 200;">2003</th>
      <th style="min-width: 200;">2004</th>
      <th style="min-width: 200;">2005</th>
      <th style="min-width: 200;">2006</th>
      <th style="min-width: 200;">2007</th>
      <th style="min-width: 200;">2008</th>
      <th style="min-width: 200;">2009</th>
      <th style="min-width: 200;">2010</th>
      <th style="min-width: 200;">2011</th>
      <th style="min-width: 200;">2012</th>
      <th style="min-width: 200;">2013</th>
      <th style="min-width: 200;">2014</th>
      <th style="min-width: 200;">2015</th>
      <th style="min-width: 200;">2016</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Toshiba KK</td>
      <td>Toshiba KK</td>
      <td>Canon KK</td>
      <td>Canon KK</td>
      <td>Canon KK</td>
      <td>Canon KK</td>
      <td>Canon KK</td>
      <td>Canon KK</td>
      <td>NEC Corporation</td>
      <td>NEC Corporation</td>
      <td>Matsushita Electric Industrial Co., Ltd.</td>
      <td>Matsushita Electric Industrial Co., Ltd.</td>
      <td>Matsushita Electric Industrial Co., Ltd.</td>
      <td>Samsung Electronics Co., Ltd.</td>
      <td>Samsung Electronics Co., Ltd.</td>
      <td>Samsung Electronics Co., Ltd.</td>
      <td>Samsung Electronics Co., Ltd.</td>
      <td>Samsung Electronics Co., Ltd.</td>
      <td>Samsung Electronics Co., Ltd.</td>
      <td>Samsung Electronics Co., Ltd.</td>
      <td>Samsung Electronics Co., Ltd.</td>
      <td>Samsung Electronics Co., Ltd.</td>
      <td>Samsung Electronics Co., Ltd.</td>
      <td>Samsung Electronics Co., Ltd.</td>
      <td>Samsung Electronics Co., Ltd.</td>
      <td>Samsung Electronics Co., Ltd.</td>
      <td>Samsung Electronics Co., Ltd.</td>
    </tr>
    <tr>
      <td>Canon KK</td>
      <td>Canon KK</td>
      <td>Toshiba KK</td>
      <td>Mitsubishi Denki KK</td>
      <td>NEC Corporation</td>
      <td>Fujitsu Limited</td>
      <td>Samsung Electronics Co., Ltd.</td>
      <td>NEC Corporation</td>
      <td>Canon KK</td>
      <td>Canon KK</td>
      <td>Canon KK</td>
      <td>Hitachi, Ltd.</td>
      <td>Samsung Electronics Co., Ltd.</td>
      <td>Canon KK</td>
      <td>Canon KK</td>
      <td>Canon KK</td>
      <td>Canon KK</td>
      <td>Canon KK</td>
      <td>Canon KK</td>
      <td>Canon KK</td>
      <td>Canon KK</td>
      <td>Canon KK</td>
      <td>Canon KK</td>
      <td>Canon KK</td>
      <td>Canon KK</td>
      <td>Canon KK</td>
      <td>Canon KK</td>
    </tr>
    <tr>
      <td>Hitachi, Ltd.</td>
      <td>Hitachi, Ltd.</td>
      <td>Hitachi, Ltd.</td>
      <td>Toshiba KK</td>
      <td>Toshiba KK</td>
      <td>Mitsubishi Denki KK</td>
      <td>NEC Corporation</td>
      <td>Sony Corporation</td>
      <td>Sony Corporation</td>
      <td>Sony Corporation</td>
      <td>Sony Corporation</td>
      <td>Sony Corporation</td>
      <td>Canon KK</td>
      <td>Matsushita Electric Industrial Co., Ltd.</td>
      <td>Sony Corporation</td>
      <td>Sony Corporation</td>
      <td>Sony Corporation</td>
      <td>Sony Corporation</td>
      <td>Sony Corporation</td>
      <td>Sony Corporation</td>
      <td>Sony Corporation</td>
      <td>Sony Corporation</td>
      <td>Sony Corporation</td>
      <td>LG Electronics Inc.</td>
      <td>LG Electronics Inc.</td>
      <td>LG Electronics Inc.</td>
      <td>Taiwan Semiconductor Manufacturing Company, Ltd.</td>
    </tr>
    <tr>
      <td>Fuji Photo Film Co., Ltd.</td>
      <td>Mitsubishi Denki KK</td>
      <td>Mitsubishi Denki KK</td>
      <td>Hitachi, Ltd.</td>
      <td>Mitsubishi Denki KK</td>
      <td>Sony Corporation</td>
      <td>Sony Corporation</td>
      <td>Fujitsu Limited</td>
      <td>Samsung Electronics Co., Ltd.</td>
      <td>Matsushita Electric Industrial Co., Ltd.</td>
      <td>NEC Corporation</td>
      <td>Canon KK</td>
      <td>Hitachi, Ltd.</td>
      <td>Sony Corporation</td>
      <td>Toshiba KK</td>
      <td>Toshiba KK</td>
      <td>Toshiba KK</td>
      <td>Toshiba KK</td>
      <td>Toshiba KK</td>
      <td>Toshiba KK</td>
      <td>Hon Hai Precision Industry Co., Ltd.</td>
      <td>Toshiba KK</td>
      <td>Toshiba KK</td>
      <td>Taiwan Semiconductor Manufacturing Company, Ltd.</td>
      <td>Samsung Display Co., Ltd.</td>
      <td>Samsung Display Co., Ltd.</td>
      <td>LG Electronics Inc.</td>
    </tr>
    <tr>
      <td>Mitsubishi Denki KK</td>
      <td>Matsushita Electric Industrial Co., Ltd.</td>
      <td>Matsushita Electric Industrial Co., Ltd.</td>
      <td>Matsushita Electric Industrial Co., Ltd.</td>
      <td>Fujitsu Limited</td>
      <td>Toshiba KK</td>
      <td>Toshiba KK</td>
      <td>Samsung Electronics Co., Ltd.</td>
      <td>Fujitsu Limited</td>
      <td>Hitachi, Ltd.</td>
      <td>Hitachi, Ltd.</td>
      <td>Koninklijke Philips Electronics N.V.</td>
      <td>Sony Corporation</td>
      <td>Toshiba KK</td>
      <td>Matsushita Electric Industrial Co., Ltd.</td>
      <td>Fujitsu Limited</td>
      <td>Panasonic Corporation</td>
      <td>Panasonic Corporation</td>
      <td>Panasonic Corporation</td>
      <td>Hon Hai Precision Industry Co., Ltd.</td>
      <td>Toshiba KK</td>
      <td>Hon Hai Precision Industry Co., Ltd.</td>
      <td>LG Electronics Inc.</td>
      <td>Toshiba KK</td>
      <td>Taiwan Semiconductor Manufacturing Company, Ltd.</td>
      <td>Taiwan Semiconductor Manufacturing Company, Ltd.</td>
      <td>Seiko Epson Corporation</td>
    </tr>
    <tr>
      <td>Matsushita Electric Industrial Co., Ltd.</td>
      <td>Fuji Photo Film Co., Ltd.</td>
      <td>NEC Corporation</td>
      <td>Sony Corporation</td>
      <td>Hitachi, Ltd.</td>
      <td>Hitachi, Ltd.</td>
      <td>Fujitsu Limited</td>
      <td>Toshiba KK</td>
      <td>Toshiba KK</td>
      <td>Samsung Electronics Co., Ltd.</td>
      <td>Fujitsu Limited</td>
      <td>Samsung Electronics Co., Ltd.</td>
      <td>Toshiba KK</td>
      <td>Hitachi, Ltd.</td>
      <td>Hitachi, Ltd.</td>
      <td>Panasonic Corporation</td>
      <td>LG Electronics Inc.</td>
      <td>LG Electronics Inc.</td>
      <td>LG Electronics Inc.</td>
      <td>Panasonic Corporation</td>
      <td>LG Electronics Inc.</td>
      <td>LG Electronics Inc.</td>
      <td>Fujitsu Limited</td>
      <td>Sony Corporation</td>
      <td>Sony Corporation</td>
      <td>Toshiba KK</td>
      <td>Toyota Jidosha Kabushiki Kaisha</td>
    </tr>
    <tr>
      <td>Bayer Aktiengesellschaft</td>
      <td>Sony Corporation</td>
      <td>Sony Corporation</td>
      <td>Fujitsu Limited</td>
      <td>Matsushita Electric Industrial Co., Ltd.</td>
      <td>NEC Corporation</td>
      <td>Mitsubishi Denki KK</td>
      <td>Mitsubishi Denki KK</td>
      <td>Matsushita Electric Industrial Co., Ltd.</td>
      <td>Fujitsu Limited</td>
      <td>Mitsubishi Denki KK</td>
      <td>Fujitsu Limited</td>
      <td>Koninklijke Philips Electronics N.V.</td>
      <td>Seiko Epson Corporation</td>
      <td>Seiko Epson Corporation</td>
      <td>Seiko Epson Corporation</td>
      <td>Seiko Epson Corporation</td>
      <td>Toyota Jidosha Kabushiki Kaisha</td>
      <td>Hitachi, Ltd.</td>
      <td>LG Electronics Inc.</td>
      <td>Panasonic Corporation</td>
      <td>Toyota Jidosha Kabushiki Kaisha</td>
      <td>Taiwan Semiconductor Manufacturing Company, Ltd.</td>
      <td>Samsung Display Co., Ltd.</td>
      <td>Toshiba KK</td>
      <td>Seiko Epson Corporation</td>
      <td>Toshiba KK</td>
    </tr>
    <tr>
      <td>Siemens Aktiengesellschaft</td>
      <td>NEC Corporation</td>
      <td>Fuji Photo Film Co., Ltd.</td>
      <td>NEC Corporation</td>
      <td>Sony Corporation</td>
      <td>Matsushita Electric Industrial Co., Ltd.</td>
      <td>Matsushita Electric Industrial Co., Ltd.</td>
      <td>Matsushita Electric Industrial Co., Ltd.</td>
      <td>Mitsubishi Denki KK</td>
      <td>Toshiba KK</td>
      <td>Samsung Electronics Co., Ltd.</td>
      <td>Toshiba KK</td>
      <td>Fujitsu Limited</td>
      <td>Fujitsu Limited</td>
      <td>Fujitsu Limited</td>
      <td>Hitachi, Ltd.</td>
      <td>Hitachi, Ltd.</td>
      <td>Seiko Epson Corporation</td>
      <td>Hon Hai Precision Industry Co., Ltd.</td>
      <td>Fujitsu Limited</td>
      <td>Fujitsu Limited</td>
      <td>Panasonic Corporation</td>
      <td>Hon Hai Precision Industry Co., Ltd.</td>
      <td>Fujitsu Limited</td>
      <td>Seiko Epson Corporation</td>
      <td>Hyundai Motor Company</td>
      <td>Samsung Display Co., Ltd.</td>
    </tr>
    <tr>
      <td>Fujitsu Limited</td>
      <td>Fujitsu Limited</td>
      <td>Fujitsu Limited</td>
      <td>Fuji Photo Film Co., Ltd.</td>
      <td>Fuji Photo Film Co., Ltd.</td>
      <td>Samsung Electronics Co., Ltd.</td>
      <td>Hitachi, Ltd.</td>
      <td>Hitachi, Ltd.</td>
      <td>Hitachi, Ltd.</td>
      <td>Mitsubishi Denki KK</td>
      <td>Toshiba KK</td>
      <td>Mitsubishi Denki KK</td>
      <td>Robert Bosch GmbH</td>
      <td>Infineon Technologies AG</td>
      <td>LG Electronics Inc.</td>
      <td>LG Electronics Inc.</td>
      <td>Fujitsu Limited</td>
      <td>Hitachi, Ltd.</td>
      <td>Toyota Jidosha Kabushiki Kaisha</td>
      <td>Toyota Jidosha Kabushiki Kaisha</td>
      <td>Toyota Jidosha Kabushiki Kaisha</td>
      <td>Seiko Epson Corporation</td>
      <td>Telefonaktiebolaget L M Ericsson (publ)</td>
      <td>Seiko Epson Corporation</td>
      <td>Fujitsu Limited</td>
      <td>Huawei Technologies Co., Ltd.</td>
      <td>SK hynix Inc.</td>
    </tr>
    <tr>
      <td>Sony Corporation</td>
      <td>Sharp Kabushiki Kaisha</td>
      <td>Sharp Kabushiki Kaisha</td>
      <td>Samsung Electronics Co., Ltd.</td>
      <td>Samsung Electronics Co., Ltd.</td>
      <td>NOK Corporation</td>
      <td>Fuji Photo Film Co., Ltd.</td>
      <td>Siemens Aktiengesellschaft</td>
      <td>Siemens Aktiengesellschaft</td>
      <td>Siemens Aktiengesellschaft</td>
      <td>Koninklijke Philips Electronics N.V.</td>
      <td>NEC Corporation</td>
      <td>Infineon Technologies AG</td>
      <td>Koninklijke Philips Electronics N.V.</td>
      <td>Honda Motor Co., Ltd.</td>
      <td>Honda Motor Co., Ltd.</td>
      <td>Hon Hai Precision Industry Co., Ltd.</td>
      <td>Fujitsu Limited</td>
      <td>Seiko Epson Corporation</td>
      <td>Seiko Epson Corporation</td>
      <td>Seiko Epson Corporation</td>
      <td>Fujitsu Limited</td>
      <td>Seiko Epson Corporation</td>
      <td>Ricoh Company, Ltd.</td>
      <td>Huawei Technologies Co., Ltd.</td>
      <td>Ricoh Company, Ltd.</td>
      <td>Ricoh Company, Ltd.</td>
    </tr>
  </tbody>
</table>
